@using PawsitiveMatch.Client.Services
@using PawsitiveMatch.Services
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject ApiService Api
@inject StateService UserState

<MudThemeProvider Theme="@_theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="app-background">
    <MudLayout>
        <MudAppBar Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            
            <MudButton Class="nav-link" OnClick="@NavToHome">Pawsitive Match</MudButton>
                <MudSpacer />
                @if (UserState.IsLoggedIn && UserState.CurrentUser?.Role == "Admin")
                {
                    <MudButton OnClick="@(()=>Nav.NavigateTo("/admin"))">Admin Panel</MudButton>
                }
                
                @if (UserState.IsLoggedIn)
                {
                            <MudButton Class="nav-link" OnClick="@NavToAccount">My Account</MudButton>
                            <MudButton Class="nav-link" OnClick="@Logout">Logout</MudButton>
                }
                else
                {
                            <MudButton Class="nav-link"  OnClick="@NavToLogin">Login</MudButton>
                            <MudButton Class="nav-link" OnClick="@NavToCreateAccount">Create Account</MudButton>
                }

        </MudAppBar>
        <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" Style="background-color: rgb(229 238 246)" ClipMode="DrawerClipMode.Always" Elevation="2">
            <NavMenu />
        </MudDrawer>
        <MudMainContent Class="pt-16 pa-4">
            @Body
        </MudMainContent>
    </MudLayout>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<style>
    .nav-link {
        color: var(--mud-palette-appbar-text);
    }

    .app-background {
        position: relative;
        min-height: 100vh;
        overflow: hidden;
        background: radial-gradient(circle at 35% -15%, #588AB9 0%, #a7caeb 60%, #345397 100%);
    }
</style>